* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    font-size: 16px;
}


.vertical-align {
    position: fixed;
    bottom: 50px;
    right: 0px;
}


.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
